button.btn-outline-success,
button.btn-success,
button.btn-danger {
    margin-left: 3px;
    margin-right: 3px;
    font-size: small;
}

.btn-outline-success:hover {
    color: #28a745;
    background-color: #fff;
    border-color: #28a745;
}

button {
    margin-bottom: 5px;
}